<aside class="menu">
    <p class="menu-label">
        Notes
    </p>
    <a *ngIf="notes?.length == null" class=" button is-link is-loading "></a>
    <p *ngIf="notes?.length != null && notes?.length < 1" class="">
        <i>Nothing here...</i>
    </p>
    <ul class="menu-list ">
        <li *ngFor="let note of notes"><a href="" (click)="noteSelected(note, $event)">{{note.title}} <span *ngIf="note.color != null" class="icon note-tag"><i tag [color]="note.color" [size]="'sm'" class="fa fa-square"></i></span></a>            </li>
    </ul>
</aside>