<div *ngIf="(result | async)?.isSuccess" class="notification" [ngClass]="(result | async)?.isSuccess === true ? 'is-success' : 'is-danger'">
	User was succesfully created! <span class="icon"><i class="fa fa-check"></i></span>
</div>
<form [formGroup]="form">
	<label class="label">Username</label>
	<p class="control has-icon" [class.is-loading]="usernameControl.pending">
		<input class="input" [ngClass]="{'is-danger': (!usernameControl.valid && usernameControl.touched), 'is-success': usernameControl.valid && !usernameControl.pristine}"
			type="text" [(ngModel)]="newUser.username" formControlName="username" placeholder="Username">
		<i class="fa fa-user"></i>

		<validation [controlName]="'Username'" [control]="usernameControl"></validation>
	</p>

	<label class="label">Password</label>
	<p class="control has-icon">
		<input class="input" [ngClass]="{'is-danger': (!passwordControl.valid && passwordControl.touched), 'is-success': passwordControl.valid && !passwordControl.pristine}"
			type="password" [(ngModel)]="newUser.password" formControlName="password" placeholder="Password">
		<i class="fa fa-lock"></i>
		<validation [controlName]="'Password'" [control]="passwordControl"></validation>
	</p>

	<label class="label">Password confirmation</label>
	<p class="control has-icon">
		<input class="input" type="password" [ngClass]="{'is-danger': (!passwordConfirmationControl.valid && passwordConfirmationControl.touched), 'is-success': passwordConfirmationControl.valid && !passwordConfirmationControl.pristine}"
			[(ngModel)]="newUser.passwordConfirmation" formControlName="passwordConfirmation" placeholder="Repeat password">
		<i class="fa fa-lock"></i>
		<validation [controlName]="'Password confirmation'" [control]="passwordConfirmationControl"></validation>
	</p>

	<p class="control">
		<button class="button is-success" [ngClass]="{'is-disabled': !form.valid, 'is-loading': (result | async)?.isLoading}" type="submit"
			(click)="submitUser()">
    Register
  </button>
	</p>


</form>