<section class="hero is-primary is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                NoteTaker AB
            </h1>
            <h2 class="subtitle">
                Is a startup with a bunch of pretentious hipsters with a passion for buzzwords and obscure coffé brewing methods <br>                Our office walls consists entierly of whiteboards and we <i class="fa fa-heart"></i> overly engineerd JS
                frameworks
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <h1>The team</h1>
            
        </div>
    </div>
</section>