<section class="section ">
	<div class="container">
		<div class="columns">
		</div>
		<div class="columns">
			<div class="column is-3" note-list (loadNote)="getNote($event)" [notes]="noteList">
			</div>
			<div class="column" note-editor [updateResult]="updateNoteResult" [createResult]="createNoteResult" [deleteResult]="deleteNoteResult" [currentNote]="currentNote" (noteDeleted)="deleteNote($event)" (noteUpdated)="updateNote($event)" (noteSubmited)="createNote($event)"></div>
		</div>
	</div>
</section>