<section class="section ">
	<div class="container">
		<div class="columns">
			<div class="column is-4 is-offset-4">

				<tabs>
					<tab title="Login" [isActive]="true" iconName="lock">
						<div class="box">
							<login [result]="login" (authenticateUser)="authenticateUser($event)"></login>
						</div>
					</tab>
					<tab title="Register" iconName="user">
						<div class="box">
							<register [result]="register" (registerUser)="registerUser($event)"></register>
						</div>
					</tab>
				</tabs>
			</div>
		</div>
	</div>
</section>