<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="tabs">
          <ul>
            <li class="is-active">
              <a>
                <span class="icon is-small"><i class="fa fa-lock"></i></span>
                <span>Login</span></a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-user"></i></span>
                <span>Register</span>
              </a>
            </li>
          </ul>
        </div>
        <p class="control has-icon">
          <input class="input" type="email" placeholder="Email">
          <i class="fa fa-envelope"></i>
        </p>
        <p class="control has-icon">
          <input class="input" type="password" placeholder="Password">
          <i class="fa fa-lock"></i>
        </p>
        <p class="control">
          <button class="button is-success">
    Login
  </button>
        </p>
      </div>
    </div>
  </div>
</section>