<nav class="nav ">
  <div class="nav-left">
    <a class="nav-item is-brand" routerLink="home">
      <h1>NoteTaker</h1>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
  <span></span>
  <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" routerLink="/">
      Home
    </a>
    <a class="nav-item" href="#">
      Notes
    </a>
    <a class="nav-item" routerLink="about">
      About
    </a>

    <span class="nav-item">
      <a class="button is-primary" routerLink="user">
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
    <span>Sign in</span>
    </a>
    </span>
  </div>
</nav>


