<nav class="nav has-shadow">
	<div class="nav-left">
		<a class="nav-item is-brand" routerLink="home">
			<h1>NoteTaker</h1>
		</a>
	</div>
	<div class="nav-right nav-menu">
		<a class="nav-item is-tab" routerLink="/home" [routerLinkActive]="'is-active'">
      Home
    </a>
		<a *ngIf="userService.isAuthenticated" class="nav-item is-tab" routerLink="/user/notes" [routerLinkActive]="'is-active'">
      Notes
    </a>
		<a class="nav-item is-tab" routerLink="/about" [routerLinkActive]="'is-active'">
      About
    </a>
		<span *ngIf="!userService.isAuthenticated" class="nav-item">
      <a *ngIf="!userService.isAuthenticated" class="button is-primary" routerLink="user/login">
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
		<span>Sign in</span>
		</a>
		</span>
		<span *ngIf="userService.isAuthenticated" class="nav-item">
		<a class="button is-danger" (click)="logout($event)">
			<span class="icon">
          <i class="fa fa-sign-out"></i>
        </span>
		<span>Sign out</span>
		</a>
		</span>
	</div>
</nav>