<section class="hero is-info is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                NoteTaker
            </h1>
            <h2 class="subtitle">
                A marvelous note taking app, Presented in one of two possible layouts
                <br> Built with <i class="fa fa-heart-o" aria-hidden="true"></i> ... Lol no
            </h2>
        </div>
    </div>
</section>


<section class="section filler">
    <div class="container">
        <div class="columns">
            <hr>
            <div class="column is-one-third">
                <h1 class="title">Simple <i class="fa fa-pencil" aria-hidden="true"></i></h1>
                <h3 class="subtitle">
                    Just write it down, and access it <strong>forever</strong> <br>(Atleast until we decide to shut down)
                </h3>
            </div>
            <div class="column">
                <h1 class="title">Privacy <i class="fa fa-lock" aria-hidden="true"></i></h1>
                <h3 class="subtitle">
                    We <i>probably</i> won't share you data with the NSA (Only if they ask nicely)
                </h3>
            </div>
            <div class="column">
                <h1 class="title">Lorem ipsum <i class="fa fa-question" aria-hidden="true"></i></h1>
                <h3 class="subtitle">
                    No one really fuckin knows what to do with the third collumn, but because everyone else has one <br>                    we're not gona leave it out!
                </h3>
            </div>
        </div>
    </div>
</section>


